.container {
  width: 600px;
  margin: 0 auto;
}

.calc-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 80px auto;
  padding-top: 30px;
  height: 500px;
  background-color: grey;
}
.small-screen {
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  width: 90%;
  padding: 5px;
  text-align: right;
  height: 30px;
}
.screen {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid black;
  border-top: none;
  text-align: right;
  font-size: 32px;
  padding: 5px;
  background-color: white;
}

.controls {
  display: flex;
  margin-top: 20px;
  display: flex;
  width: 90%;
  justify-content: center;
  height: 400px;
}

.numbers {
  display: grid;
  grid-template:
    "nine eight seven clear power"
    "six five four divide multiply"
    "three two one minus equals"
    "zero zero decimal plus equals";
  gap: 10px;
  flex-grow: 1;
}

.num {
  padding: 10px 20px;
}

.num0 {
  grid-column: 2fr;
  grid-area: zero;
}

,
operators {
  flex-shrink: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.op-divide {
  grid-area: divide;
}
.op-multiply {
  grid-area: multiply;
}

.op-minus {
  grid-area: minus;
}
.op-equals {
  grid-area: equals;
}
.op-plus {
  grid-area: plus;
}
