.container {
  width: 600px;
  margin: 0 auto;
}

.calc-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 120px auto;
  padding-top: 30px;
  height: 480px;
  background-color: grey;
}
.screen {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid black;
  border-top: none;
  text-align: right;
  font-size: 40px;
  padding: 5px;
  background-color: white;
  font-family: "segment7standard";
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  display: flex;
  width: 90%;
  flex-grow: 1;
}

.numbers {
  display: grid;
  grid-template:
    "nine eight seven clear power"
    "six five four divide multiply"
    "three two one minus equals"
    "zero zero decimal plus equals";
  gap: 8px;
  grid-template-rows: 120px, 120px, 120px auto;
  flex-grow: 1;
}
h3 {
  align-self: center;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.num {
  padding: 20px;
}

.num0 {
  grid-column: 2fr;
  grid-area: zero;
}

operators {
  flex-shrink: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.op-divide {
  grid-area: divide;
}
.op-multiply {
  grid-area: multiply;
}

.op-minus {
  grid-area: minus;
}
.op-equals {
  grid-area: equals;
}
.op-plus {
  grid-area: plus;
}
